<main>
    <div id="panel-container">
        <div id="candidate">
            <div id="description">
                <h1>Seu voto para</h1>
                <h2>Presidente</h2>
                <div id="candidate-numbers">
                    <ul>
                        <li>{{ vm.startNumber }}</li>
                        <li>{{ vm.endNumber }}</li>
                    </ul>
                </div>
                <div id="name">{{ vm.candidateSelected.name }}</div>
            </div>
        </div>
        <div id="picture">
            <img src="{{ vm.candidateSelected.picture }}">
        </div>
    </div>
    <div id="numbers-container">
        <header>
            <img src="images/faculdades-senac.png" alt="Faculdades Senac">
        </header>
        <div id="numbers">
            <div class="line">
                <button type="button" class="number" ng-click="vm.pressNumber(1)">1</button>
                <button type="button" class="number" ng-click="vm.pressNumber(2)">2</button>
                <button type="button" class="number" ng-click="vm.pressNumber(3)">3</button>
            </div>
            <div class="line">
                <button type="button" class="number" ng-click="vm.pressNumber(4)">4</button>
                <button type="button" class="number" ng-click="vm.pressNumber(5)">5</button>
                <button type="button" class="number" ng-click="vm.pressNumber(6)">6</button>
            </div>
            <div class="line">
                <button type="button" class="number" ng-click="vm.pressNumber(7)">7</button>
                <button type="button" class="number" ng-click="vm.pressNumber(8)">8</button>
                <button type="button" class="number" ng-click="vm.pressNumber(9)">9</button>
            </div>
            <div class="line">
                <button type="button" class="number" ng-click="vm.pressNumber(0)">0</button>
            </div>
            <div class="panel">
                <button type="button" class="white-button">Branco</button>
                <button type="button" class="dismiss-button" ng-click="vm.correct()">Corrige</button>
                <button type="button" class="confirm-button">Confirma</button>
            </div>
        </div>
    </div>
</main>